/*-----Inner Page banner---*/
.header-page-title{
	text-align: center;
}
.header-page-title h2{
	font-size: 36px;
	line-height: 40px;
	font-weight: bold;
	color: #3e3e3e;
	padding-top: 40px;
}
.header-page-title h2 span{
	color: #ed1864;
}
/*-----Inner Page banner---*/
/*-----Press Section-----*/
.inner-page-banner-press{
	background: url(../img/banner-news.jpg) no-repeat 50% 0;
	background-size: cover; 
	min-height: 70vh;
}
.press-section{
	padding-bottom: 30px;
}
.press-content-row{
	padding: 40px 80px;
	border-bottom: 1px solid #e1e1e1;
}
.press-content-row p{
	font-size: 16px;
	line-height: 20px;
	color: #9a9a9a;
	padding-bottom: 15px;
	margin: 0;
}
.press-content-row h2,
.press-content-row h2 a{
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	color: #424242;
	padding-bottom: 15px;
	margin: 0;
}
.press-content-row h2 a:hover{
	text-decoration: none;
	color: #ed1864;
}
.press-content-row a{
	font-size: 14px;
	color: #ef276e;
}
.press-content-row:last-child{
	border-bottom: none;
}
/*-----Press Section Ends-----*/
/*-----Getting Started-----*/
.inner-page-banner-get-started{
	background: url(../img/banner-gettingstarted.jpg) no-repeat 50% 0;
	background-size: cover; 
	min-height: 70vh;
}
.header-page-title h3{
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color:#515151;
}
.getting-started-section{
	padding: 50px 0;
}
.getting-started-section h2{
	padding-bottom: 30px;
	margin: 0;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	color: #3e3e3e;
}
.getting-started-section h2 span{
	color: #ed1864;
}
.getting-started-section p{
	font-size: 14px;
	line-height: 20px;
	color: #5e5e5e;
	margin: 0;
	padding-bottom: 15px;
}
.getting-started-section ul{
	margin: 0;
	padding: 15px 0;
}
.getting-started-section ul li{
	list-style-position: inside;
	color: #ed1864;
	font-size: 14px;
	line-height: 26px;
}
.getting-started-section ul li a{
	color: #ed1864;
}
/*-----Getting Started Ends-----*/
/*-----Collaborate Itinerary Solution-----*/
.collaborate-solution{
	padding:50px 0 85px;
}
.left-content-panel h2{
	font-size: 42px;
	line-height: 50px;
	font-weight: bold;
	color: #343434;
	position: relative;
	padding: 0 0 15px;
	margin:0 0 25px;
}
.left-content-panel h2:after{
	content: "";
	width: 90px;
	height: 2px;
	display: block;
	background-color: #ef1865;
	position: absolute;
	bottom: 0;
	left: 0;
}
.left-content-panel ul{
	list-style: none;
	width: 100%;
	display: inline-block;
	padding: 0 0 35px;
	margin:0;
}
.left-content-panel ul li{
	display: inline-block;
	width: 100%;
	font-size: 14px;
	color: #5c5c5c;
	padding: 0 0 0 35px;
	margin:10px 0;
}
.left-content-panel ul li:before{
	content: "\f00c";
	font: normal normal normal 18px/1 FontAwesome;
	color: #88c642;
	font-weight: 400; 
	position: absolute; 
	margin-left: -35px;
}
.red-button{
	background-color:#f02f74;
	padding: 15px 50px;
	font-size: 13px;
	line-height: 17px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	display: inline-block;
}
.red-button:hover,
.red-button:active,
.red-button:focus{
	background-color: #cf1a5b;
	color: #fff;
	text-decoration: none;
}
.thubmnail-img img{
	margin-bottom: 15px;
}
.thubmnail-img p{
	text-align: center;
}
.thubmnail-img p a{
	color: #f02f74;
	font-size: 13px;
	line-height: 17px;
	font-weight: bold;
}
/*-----Collaborate Itinerary Solution Ends-----*/
/*-----Affinity Site-----*/
.pricing-text-section{
	padding-bottom: 25px;
}
.pricing-text-section p{
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	color: #2c2c2c;
	padding: 0;
	margin: 0;
}
.pricing-text-section h3{
	padding: 0;
	margin: 0;
	font-size: 45px;
	line-height: 49px;
	font-weight: bold;
	color: #184c54;
	padding-bottom: 15px;
}
.pricing-text-section h3 sub{
	font-size: 12px;
	line-height: 14px;
	color: #545454;
	font-weight: normal;
	margin-left: -5px;
	position: relative;
	top: -2px;
}
.pricing-text-section h4{
	font-size: 16px;
	line-height: 20px;
	color: #2c2c2c;
	font-weight: bold;
	padding: 0;
	margin: 0;
}
.sample-clients-panel h3{
	font-size: 16px;
	line-height: 20px;
	color: #184c54;
	font-weight: bold;
	padding: 0 0 30px;
	margin: 0;
}
.sample-clients-panel .thumbnail-img{
	width: 100%;
}
.sample-logo-panel{
	padding: 20px 0;
}
.sample-logo-panel img{
	margin-bottom: 25px;
}
.sample-logo-panel p a{
	color: #f02f74;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
}
.mb20{
	margin-bottom: 20px;
}
/*-----Affinity Site Ends-----*/
/*-----Pricing-----*/
.pricing-section{
	padding: 50px 0 85px;
}
.pricing-section h2{
	font-size: 42px;
	line-height: 46px;
	color: #343434;
	font-weight: bold;
	padding: 0 0 15px;
	margin: 0;
}
.pricing-section h4{
	padding: 0;
	margin: 0;
}
.pricing-option-panel{
	padding-top: 70px;
}
.pricing-block{
	background-color: #f8f8f8;
	padding: 30px;
}
.pricing-top-panel{
	text-align: center;
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.pricing-block h2{
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	color: #184c54;
	padding: 0 0 30px;
	margin: 0;
}
.pricing-block h3{
	font-size: 48px;
	line-height: 52px;
	font-weight: bold;
	color: #333;
	padding: 0 0 25px;
	margin: 0;
}
.pricing-content{
	padding-bottom: 40px;
}

.pricing-content ul.check-bullet{
	list-style: none;
	width: 100%;
	display: inline-block;
	padding: 0 0 35px;
	margin:0;
}
.pricing-content ul.check-bullet li{
	display: inline-block;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	color: #5c5c5c;
	padding: 0 0 0 35px;
	margin:10px 0;
}
.pricing-content ul.check-bullet li span{
	color: #ed1864;
}

.pricing-content ul.check-bullet li:before{
	content: "\f00c";
	font: normal normal normal 24px/1 FontAwesome;
	color: #184c54;
	font-weight: 400; 
	position: absolute; 
	margin-left: -35px;
}






.pricing-content ul.disc-bullet{
	list-style: none;
	width: 100%;
	display: inline-block;
	padding: 0 0 35px;
	margin:0;
}
.pricing-content ul.disc-bullet li{
	display: inline-block;
	width: 100%;
	font-size: 16px;
	color: #5c5c5c;
	padding: 0 0 0 25px;
	margin:10px 0;
}
.pricing-content ul.disc-bullet li span{
	color: #ed1864;
}

.pricing-content ul.disc-bullet li:before{
	content: "\f111";
	font: normal normal normal 10px/1 FontAwesome;
	color: #184c54;
	font-weight: 400; 
	position: absolute; 
	margin-left: -25px;
	margin-top:5px; 
}



.pricing-content h4{
	font-size: 14px;
	line-height: 18px;
	color: #20525a;
	font-weight: bold;
	padding: 0 0 20px;
	margin: 0;
}
.pricing-footer{
	text-align: center;
	min-height: 95px;
}
.pricing-footer .red-button{
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 15px;
}
.pricing-footer p{
	font-size: 14px;
	line-height: 18px;
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
}
/*-----Pricing Ends-----*/
/*-----Global Partners-----*/
.global-partners{
	background: url(../img/global-partner-img.jpg) right top no-repeat;
	padding: 50px 0 85px;
	min-height: 750px;
    background-size: 50%;
}
.left-content-panel p{
	padding-bottom: 20px;
}
/*-----Global Partners Ends-----*/

@media(max-width:990px){
	.left-content-panel{
		padding-bottom: 30px;
	}
	.pricing-block{
		margin-bottom: 20px;
	}
}
@media(max-width:480px){
	.press-content-row{
		padding: 20px 10px;
	}
}