html{height:100%}body{height:100%;padding-top:0px; display: flex; flex: auto; flex-direction: column;}.img-portfolio{margin-bottom:30px}.img-hover:hover{opacity:0.8}header.carousel{height:50%}header.carousel .item{height:100%}header.carousel .item.active{height:100%}header.carousel .carousel-inner{height:550px;}header.carousel .fill{width:100%;height:100%;background-position:center;background-size:cover}.error-404{font-size:100px}.price{display:block;font-size:50px;line-height:50px}.price sup{top:-20px;left:2px;font-size:20px}.period{display:block;font-style:italic}footer{margin:50px 0;align-self: flex-end;flex: none; width: 100%;}@media (max-width: 991px){.customer-img,.img-related{margin-bottom:30px}}@media (max-width: 767px){.img-portfolio{margin-bottom:15px}header.carousel .carousel{height:70%}}

/* ============== CUSTOM CSS START ================== */

a:hover{transition: all .4s ease-in-out;-webkit-animation-delay: 2s;animation-delay: 2s;}
a:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    color:#fff;
}

.text-center{text-align: center!important;}

.top-nav{background-color: #184c54;padding: 14px;font-size: 14px;font-weight: 500;color: #fff;text-align: right;}
.top-nav ul{display: block;padding: 0;margin:0;}
.top-nav ul li{width: auto;display: inline-block;padding: 0;margin:0 0 0 30px;}
.top-nav ul li a{color: #fff;text-decoration: none;}
.top-nav ul li a:hover{color: #f0f0f0;text-decoration: none;}
.top-nav .reg-btn{border:1px solid #5b7d82;background-color: transparent; border-radius: 6px;text-align: center;padding: 10px 40px;margin: 0;}
.top-nav .reg-btn:hover{border:1px solid #5b7d82;background-color: #5b7d82;}
.navbar-inverse {
    background-color: transparent;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
    border: 0;  
    margin-bottom: 0;  
}
.navbar-brand{height: auto;padding: 26px 0;}
.navbar-brand>img{width: 50%;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{padding: 45px 0 0;}
.navbar-inverse .navbar-nav>li{margin:0 15px;}
.navbar-inverse .navbar-nav>li>a{color: #505050;font-weight: 600;padding: 0;}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{color: #ed1864;}

/* ================  NAV BAR DROPDOWN MENU CSS START ========================== */

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{color: #ed1864; background-color: transparent;}
.navbar-nav>li>.dropdown-menu{right: auto; left: -165px;margin-top: 10px;border-top-left-radius: 4px; border-top-right-radius: 4px; list-style: disc inside; width: 410px; padding: 20px 35px;}
.dropdown-menu li{margin: 6px 0; font-size: 14px;}
.dropdown-menu>li>a{display: inline-block; padding: 0;background-color: transparent;}
.dropdown-menu>li:hover, .dropdown-menu>li>a:hover{background-color: transparent;color:#ed1864;}
.navbar-nav>li>.dropdown-menu{-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.3);box-shadow: 0 1px 10px rgba(0,0,0,.3);border:0;}
.navbar-nav>li>.dropdown-menu:after {
    content: '';
    display: block;
    position: absolute;
    top: -28px;
    left: 45%;
    width: 0;
    height: 0;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 14px 10px;
}
.navbar-nav>li>.dropdown-menu:before {
    content: '';
    display: block;
    position: absolute;
    top: -28px;
    left: 45%;
    width: 0;
    height: 0;
    border-color: transparent transparent #a8a8a8 transparent;
    border-style: solid;
    border-width: 14px 10px;
}

/* ================  NAV BAR DROPDOWN MENU CSS END ========================== */

header.carousel{height: 800px;}
header.carousel .carousel-caption{top: 215px;text-shadow: none;font-size: 22px;color: #3e3e3e;line-height: 32px; right: 15%; left: 15%;}
header.carousel .carousel-caption h2{font-size: 35px;color: #3e3e3e;font-weight: 800;padding: 0;margin: 0 0 40px;text-shadow: none;}
header.carousel .carousel-caption h2 span{color: #ef1865;}
header.carousel .carousel-caption ul{list-style: none;width: 100%;display: inline-block;padding: 0;margin:50px 0 0;}
header.carousel .carousel-caption ul li{width: calc(95% / 2);padding: 12px 35px 18px 70px;margin: 12px 8px;display: inline-block;font-size: 13px;font-weight: 600;color: #333;line-height: 18px; background:rgba(255,255,255, 0.5);border-radius: 20px;text-align: left;vertical-align: top;min-height: 70px;position: relative;}
header.carousel .carousel-caption ul li:last-child{width: 98%;height: auto;}
header.carousel .carousel-caption ul li p{margin:0;}
header.carousel .carousel-caption ul li p:before{content: '';width: 10px;height: 10px;background-color: #184c54;border-radius: 50%;position: absolute;left: 35px;top: 18px;}

.section-key-branded{width: 100%;display: inline-block;padding: 0;margin:80px 0 0;font-size: 18px;}
.section-key-branded p{padding: 0 23%; margin: 15px 0;text-align: center;}
.section-key-branded h2{
	font-size: 30px;
    font-weight: 700;
    color: #333;
    line-height: 40px;
    padding: 0;
    margin: 0 0 60px;
    position: relative
}
.section-key-branded h2:after{content: '';width: 5%;height: 2px;background-color: #ed1864;position: absolute;bottom: -15px;left: 48%;right: auto;}
.section-key-branded ul{padding: 0 8%;margin: 20px 0 0;width: 100%;display: inline-block;list-style: none;text-align: center;}
.section-key-branded ul li{width: calc(92% / 3);display: inline-block; text-align: left;font-size: 15px;font-weight: 600;color: #333;padding: 0;margin: 25px 8px;vertical-align: middle;line-height: 20px;}
.section-key-branded img{vertical-align: middle;margin-right: 12px;}

.section-core-pieces{width: 100%;display: inline-block;padding: 0;margin:90px 0;}
.section-core-pieces ul{width: 100%;display: inline-block;padding: 0;margin:0;list-style: none;}
.section-core-pieces ul li{width: calc(99% / 3);display: inline-block;position: relative; padding: 0;margin:0;font-size: 16px;font-weight: 600;color: #1d5058;text-align: center;vertical-align: top;}
.section-core-pieces h2{font-size: 30px; font-weight: 700; color: #333; line-height: 40px; padding: 0; margin: 0 0 60px;}
.section-core-pieces ul li img{margin-right: 12px;}
.section-core-pieces ul li:after{width: 30%;content: '';border-bottom: 1px dotted #ed1864;position: absolute; right: -78px; top: 17px;}
.section-core-pieces ul li:nth-child(2):after{right:-62px;}
.section-core-pieces ul li:last-child:after{width: 0;}

.section-client-portal{background-color: #f3f3f3;padding: 40px 15px 0;margin:0;line-height: 30px;font-size: 16px; color: #4f4f4f;}
.section-client-portal .gray-box-contain{padding: 45px 30px 0 0; margin:0;}
.section-client-portal .gray-box-contain h3{font-size: 22px;font-weight: 600;color: #184c54;padding: 0;margin: 0 0 75px;position: relative;}
.section-client-portal .gray-box-contain h3 img{width: 40px; margin-right: 12px; vertical-align: bottom;}
.section-client-portal .gray-box-contain h3:before{content: '';height: 2px;width: 18%;background-color: #ef1865;position: absolute; left: 0; bottom: -38px;}
.section-client-portal .gray-box-contain p{margin-bottom: 35px;}

.section-dashboard{padding: 0 15px;margin:70px 0;line-height: 30px;font-size: 16px; color: #4f4f4f;}
.section-dashboard .wh-box-contain{padding: 35px 0px 0 260px; margin:0;}
.section-dashboard .wh-box-contain h3{font-size: 22px;font-weight: 600;color: #184c54;padding: 0;margin: 0 0 75px;position: relative;}
.section-dashboard .wh-box-contain h3 img{width: 40px; margin-right: 12px; vertical-align: middle;}
.section-dashboard .wh-box-contain h3:after{content: ""; height: 2px;width: 18%;background-color: #ef1865;position: absolute; right: 0; bottom: -38px;}
.section-dashboard .wh-box-contain p{margin-bottom: 35px;}

.section-control-panel{background-color: #f3f3f3;padding: 0 15px;margin:0;line-height: 30px;font-size: 16px; color: #4f4f4f;}
.section-control-panel .gray-box-contain{padding: 95px 30px 0; margin:0;}
.section-control-panel .gray-box-contain h3{font-size: 22px;font-weight: 600;color: #184c54;padding: 0;margin: 0 0 70px;position: relative;}
.section-control-panel .gray-box-contain h3 img{width: 40px; margin-right: 12px; vertical-align: middle;}
.section-control-panel .gray-box-contain h3:before{content: '';height: 2px;width: 18%;background-color: #ef1865;position: absolute; left: 0; bottom: -38px;}
.section-control-panel .gray-box-contain p{margin-bottom: 35px;}

.section-additional-product{width: 100%;display: inline-block;padding: 122px 0;margin:0;}
.section-additional-product h2{font-size: 30px; font-weight: 700; color: #333; line-height: 40px; padding: 0; margin: 0 0 60px;}

.gray-box{background-color: #f8f8f8;min-height: 582px; padding: 30px;margin:0;font-size: 12px;color: #5c5c5c;border-radius: 10px;}
.gray-box h3{font-size: 16px;font-weight: 600;color: #1c4f57;line-height: 22px; padding: 0;margin:0 0 15px;min-height: 45px;}
.gray-box ul{list-style: none;width: 100%;display: inline-block;min-height: 290px;padding: 0;margin:0;}
.gray-box ul li{display: inline-block;width: 100%;font-size: 15px;color: #5c5c5c;padding: 0 0 0 35px;margin:10px 0;}
.gray-box ul li:before{content: "\f00c";font: normal normal normal 18px/1 FontAwesome;color: #88c642;font-weight: 400; position: absolute; margin-left: -35px;}
.gray-box .btn-row{display: block;padding: 0;margin:15px 0 32px;}
.gray-box .our-client-row{padding: 0;margin:30px 0 0;}
.gray-box .our-client-row ul{width: 100%;display: table;padding: 0;margin:6px 0 0;min-height: 60px; height: 60px;}
.gray-box .our-client-row ul li{width: auto;display: table-cell;padding: 0;margin:0 15px;}
.gray-box .our-client-row ul li:before{content: none;}
.gray-box .our-client-row ul li img{width: 85%; height: auto;}

.btn-details{display: inline-block;border: 1px solid #ef1865; background-color: #ef1865;border-radius: 5px; padding: 8px 50px;font-size: 15px;font-weight: 600;color: #fff;text-decoration: none;text-align: center}
.btn-details:hover{border: 1px solid #ef1865; background-color: transparent;color: #ef1865;text-decoration: none;}
/*.btn-details-sm{display: table-cell!important;}*/
.gray-box .btn-details{width: 80%;}


.green-txt{font-size: 13px;font-weight: 600;color: #1d5058;text-decoration: none;}
.green-txt a{color: #1d5058;text-decoration: none;}
.green-txt a:hover{color: #333;text-decoration: none;}

.pink-txt{font-size: 13px;font-weight: 600;color: #ef1865;text-decoration: none;}
.pink-txt a{color: #ef1865;text-decoration: none;}
.pink-txt a:hover{color: #333;text-decoration: none;}

.no-pad{padding-left: 0;padding-right: 0;}
.lft-pad0{padding-left: 0;}
.rgt-pad0{padding-right: 0;}

.section-testimonial{width: 100%;display: inline-block;background-color: #184c54;padding: 65px 0;margin:0;font-size: 15px;line-height: 22px; color: #fff;}
.section-testimonial h2{font-size: 30px;font-weight: 700;color: #fff;line-height: 40px;padding: 0;margin:0 0 35px;}
.section-testimonial .slider-wrap{padding: 0;margin: 0;}
.section-testimonial .carousel-inner{ margin: 80px 0;color: #d6dfe0;}
.section-testimonial .carousel-inner .item h3{font-size: 18px;font-weight: 500;color: #d6dfe0;padding: 0;margin:0 0 5px;}
.section-testimonial .slider-wrap .carousel-inner p{font-size: 18px;}
.section-testimonial .slider-wrap .carousel-inner .comment-wrap{padding: 0;margin:25px 0 0 40px;position: relative;}
.section-testimonial .carousel-indicators{bottom: -100px;}
.section-testimonial .carousel-indicators li{width: 15px;height: 15px;background-color: #fff;border:2px solid #fff;margin: 0 10px;}
.section-testimonial .carousel-indicators .active{width: 15px;height: 15px;background-color: #ef1865;border:2px solid #fff;margin: 0 10px;}
.section-testimonial .comment-wrap{padding: 0 15px 0 50px; margin: 15px 0 0;color: #d6dfe0;font-size: 16px;}
.section-testimonial .comment-wrap:before{content: "\f10d"; font: normal normal normal 30px/1 FontAwesome;position: absolute;margin-left: -50px;}
.section-testimonial .slider-wrap .carousel {
	margin-bottom: 0;
	padding: 0;
}

.section-testimonial .slider-wrap .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}

.section-testimonial .row-fluid [class*="span"] {
    display: block;
    width: 30%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.564102564102564%;
}
.section-caption{padding: 100px 0; margin:0;font-size: 32px;color: #333;font-weight: 800;line-height: 35px;}

/* ============== CUSTOM CSS END ================== */
#inner-body-wrap{margin-top: 28vh;}
#getting-started-wrap{margin-top: 0;}
#pree-body-wrap{margin-top: 0;}
/*-----Inner Page banner---*/
.header-page-title{
	text-align: center;
}
.header-page-title h2{
	font-size: 36px;
	line-height: 40px;
	font-weight: bold;
	color: #3e3e3e;
	padding-top: 40px;
}
.header-page-title h2 span{
	color: #ed1864;
}
/*-----Inner Page banner---*/
/*-----Press Section-----*/
.inner-page-banner-press{
	background: url(../img/banner-news.jpg) no-repeat 50% 0;
	background-size: cover; 
	min-height: 70vh;
	padding-top: 24vh;
}
.press-section{
	margin: 70px 0;
}

.press-section .row-pad{margin-top: 20px;margin-bottom: 20px;}

.press-section .press-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 65px;
}
.press-section .press-date {
    font-weight: bold;
    opacity: 0.5;
    vertical-align: top;
}
.press-section .press-link {
    color: #ef1865;
    text-decoration: none;
}

.press-content-row{
	padding: 40px 80px;
	border-bottom: 1px solid #e1e1e1;
}
.press-content-row p{
	font-size: 16px;
	line-height: 20px;
	color: #9a9a9a;
	padding-bottom: 15px;
	margin: 0;
}
.press-content-row h2,
.press-content-row h2 a{
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	color: #424242;
	padding-bottom: 15px;
	margin: 0;
}
.press-content-row h2 a:hover{
	text-decoration: none;
	color: #ed1864;
}
.press-content-row a{
	font-size: 14px;
	color: #ef276e;
}
.press-content-row:last-child{
	border-bottom: none;
}
/*-----Press Section Ends-----*/
/*-----Getting Started-----*/
.inner-page-banner-get-started{
	background: url(../img/banner-gettingstarted.jpg) no-repeat 50% 0;
	background-size: cover; 
	min-height: 70vh;
	padding-top: 24vh;
}
.header-page-title h3{
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color:#515151;
}
.getting-started-section{
	padding: 50px 0;
}
.getting-started-section h2{
	padding-bottom: 30px;
	margin: 0;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	color: #3e3e3e;
}
.getting-started-section h2 span{
	color: #ed1864;
}
.getting-started-section p{
	font-size: 14px;
	line-height: 20px;
	color: #5e5e5e;
	margin: 0;
	padding-bottom: 15px;
}
.getting-started-section ul{
	margin: 0;
	padding: 15px 0;
}
.getting-started-section ul li{
	list-style-position: inside;
	color: #ed1864;
	font-size: 14px;
	line-height: 26px;
}
.getting-started-section ul li a{
	color: #ed1864;
}
/*-----Getting Started Ends-----*/
/*-----Collaborate Itinerary Solution-----*/
.collaborate-solution{
	padding:50px 0 85px;
}
.left-content-panel h2{
	font-size: 42px;
	line-height: 50px;
	font-weight: bold;
	color: #343434;
	position: relative;
	padding: 0 0 15px;
	margin:0 0 25px;
}
.left-content-panel h2:after{
	content: "";
	width: 90px;
	height: 2px;
	display: block;
	background-color: #ef1865;
	position: absolute;
	bottom: 0;
	left: 0;
}
.left-content-panel ul{
	list-style: none;
	width: 100%;
	display: inline-block;
	padding: 0 0 35px;
	margin:0;
}
.left-content-panel ul li{
	display: inline-block;
	width: 100%;
	font-size: 14px;
	color: #5c5c5c;
	padding: 0 0 0 35px;
	margin:10px 0;
}
.left-content-panel ul li:before{
	content: "\f00c";
	font: normal normal normal 18px/1 FontAwesome;
	color: #88c642;
	font-weight: 400; 
	position: absolute; 
	margin-left: -35px;
}
.red-button{
	border: 1px solid #cf1a5b;
	background-color:#f02f74;
	padding: 15px 50px;
	font-size: 13px;
	line-height: 17px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	display: inline-block;
}
.red-button:hover,
.red-button:active,
.red-button:focus{
	background-color: transparent;
	color: #cf1a5b;
	text-decoration: none;
}
.thubmnail-img img{
	margin-bottom: 15px;
}
.thubmnail-img p{
	text-align: center;
}
.thubmnail-img p a{
	color: #f02f74;
	font-size: 13px;
	line-height: 17px;
	font-weight: bold;
}
/*-----Collaborate Itinerary Solution Ends-----*/
/*-----Affinity Site-----*/
.pricing-text-section{
	padding-bottom: 25px;
}
.pricing-text-section p{
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	color: #2c2c2c;
	padding: 0;
	margin: 0;
}
.pricing-text-section h3{
	padding: 0;
	margin: 0;
	font-size: 45px;
	line-height: 49px;
	font-weight: bold;
	color: #184c54;
	padding-bottom: 15px;
}
.pricing-text-section h3 sub{
	font-size: 12px;
	line-height: 14px;
	color: #545454;
	font-weight: normal;
	margin-left: -5px;
	position: relative;
	top: -2px;
}
.pricing-text-section h4{
	font-size: 16px;
	line-height: 20px;
	color: #2c2c2c;
	font-weight: bold;
	padding: 0;
	margin: 0;
}
.sample-clients-panel h3{
	font-size: 16px;
	line-height: 20px;
	color: #184c54;
	font-weight: bold;
	padding: 0 0 30px;
	margin: 0;
}
.sample-clients-panel .thumbnail-img{
	width: 100%;
	border: 2px solid #182f7c;
}
.sample-logo-panel{
	padding: 20px 0;
}
.sample-logo-panel img{
	margin-bottom: 25px;
}
.sample-logo-panel p a{
	color: #f02f74;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
}
.mb20{
	margin-bottom: 20px;
}
/*-----Affinity Site Ends-----*/
/*-----Pricing-----*/
.pricing-section{
	padding: 50px 0 85px;
}
.pricing-section h2{
	font-size: 42px;
	line-height: 46px;
	color: #343434;
	font-weight: bold;
	padding: 0 0 15px;
	margin: 0;
}
.pricing-section h4{
	padding: 0;
	margin: 0;
}
.pricing-option-panel{
	padding-top: 70px;
}
.pricing-block{
	background-color: #f8f8f8;
	padding: 30px;
}
.pricing-top-panel{
	text-align: center;
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.pricing-block h2{
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	color: #184c54;
	padding: 0 0 30px;
	margin: 0;
}
.pricing-block h3{
	font-size: 48px;
	line-height: 52px;
	font-weight: bold;
	color: #333;
	padding: 0 0 25px;
	margin: 0;
}
.pricing-content{
	padding-bottom: 40px;
}

.pricing-content ul.check-bullet{
	list-style: none;
	width: 100%;
	display: inline-block;
	padding: 0 0 35px;
	margin:0;
}
.pricing-content ul.check-bullet li{
	display: inline-block;
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	color: #5c5c5c;
	padding: 0 0 0 35px;
	margin:10px 0;
}
.pricing-content ul.check-bullet li span{
	color: #ed1864;
}

.pricing-content ul.check-bullet li:before{
	content: "\f00c";
	font: normal normal normal 24px/1 FontAwesome;
	color: #88c642;
	font-weight: 400; 
	position: absolute; 
	margin-left: -35px;
}
.pricing-content ul.disc-bullet{
	list-style: none;
	width: 100%;
	display: inline-block;
	padding: 0 0 35px;
	margin:0;
}
.pricing-content ul.disc-bullet li{
	display: inline-block;
	width: 100%;
	font-size: 16px;
	color: #5c5c5c;
	padding: 0 0 0 25px;
	margin:10px 0;
}
.pricing-content ul.disc-bullet li span{
	color: #ed1864;
}

.pricing-content ul.disc-bullet li:before{
	content: "\f111";
	font: normal normal normal 10px/1 FontAwesome;
	color: #184c54;
	font-weight: 400; 
	position: absolute; 
	margin-left: -25px;
	margin-top:5px; 
}

.pricing-content h4{
	font-size: 14px;
	line-height: 18px;
	color: #20525a;
	font-weight: bold;
	padding: 0 0 20px;
	margin: 0;
}
.pricing-footer{
	text-align: center;
	min-height: 95px;
}
.pricing-footer .red-button{
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 22px;
}
.pricing-footer p{
	font-size: 14px;
	line-height: 18px;
	color: #333;
	font-weight: 400;
	text-transform: uppercase;
}
/*-----Pricing Ends-----*/
/*-----Global Partners-----*/

#global-partners-body-wrap{margin-top: 30vh;min-height: calc(100vh - 80px);/*min-height: calc(100vh - (240px + 200px));*/}

.global-partners{
	background: url(../img/global-partner-img.jpg) right top no-repeat;
	padding: 50px 0 85px;
	min-height: 750px;
    background-size: 50%;
}
.left-content-panel p{
	padding-bottom: 20px;
}
/*-----Global Partners Ends-----*/

.section-agent-dashboard{padding: 0 15px; margin: 100px 0 0 111px; line-height: 30px; font-size: 15px; color: #5e5e5e;}
.section-Commisions{width: 100%;display: block;background-color: #184c54;padding: 65px 0 15px;margin:0;font-size: 18px;line-height: 22px; color: #fff;}
.section-Commisions h2{font-size: 30px;font-weight: 700;color: #fff;line-height: 40px;padding: 0;margin:0 0 12px;}
.section-Commisions .commisions-list-wrap{width: 100%;display: inline-block;padding: 0;margin: 45px 0;}
.section-Commisions .commisions-list-wrap .sub-wh-box{width: 100%; display: block;background-color:#fff;border-radius: 10px; padding: 22px 15px;margin: 15px 0;font-size: 13px;color: #565656;line-height: 18px;font-weight: 500;min-height: 130px;}
.section-Commisions .commisions-list-wrap .sub-wh-box h2{font-size: 20px;font-weight: 700;line-height: 22px; color: #184c54;padding: 0;margin: 0;text-align: left;}
.section-Commisions .commisions-list-wrap .sub-wh-box .pink-percent-txt{font-size: 21px;font-weight: 800;color: #ef407f;text-transform: uppercase;text-align: right;}
.section-Commisions .commisions-list-wrap .sub-wh-box .pink-percent-txt span{font-size: 12px;color: #3e3e3e;display: block;text-transform: none;font-weight: 400;}
.section-Commisions .commisions-list-wrap .sub-wh-box ul{display: block;padding: 0;margin: 20px 0 0 40px;list-style: disc;text-align: left;}
.section-Commisions .commisions-list-wrap .sub-wh-box ul li{font-size: 13px;padding: 0;margin: 10px 0;font-weight: 600;}
.section-Commisions .commisions-list-wrap .sub-wh-box img{width: 32px;}


/* =============== KEY FEATURE PAGE CSS START ==================== */
.key-feature-bannersection{
	background: url(../img/banner-gettingstarted.jpg) no-repeat 50% 0;
	background-size: cover; 
	min-height: 60vh;
}
.key-feature-bannersection .header-page-title h3{
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color:#515151;
}

#key-feature-body-wrap{margin-top: 75vh;margin-bottom: 50px;}
#key-feature-body-wrap h2{
	font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    color: #3e3e3e;
    margin-bottom: 25px;
}
#key-feature-body-wrap h3{
	font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 15px;
}
#key-feature-body-wrap ul{padding: 0;margin: 5px 10px 25px;width: 100%;display: inline-block;list-style: none;}
#key-feature-body-wrap ul li{font-size: 13px;color: #666;line-height: 18px;padding: 0;margin: 12px;}
#key-feature-body-wrap ul li:before {content: '•'; color: #f63965; margin-left: -18px; font-size: 15px; padding-right: 10px;}
#key-feature-body-wrap .rgt-panel{padding: 0;margin: 0;}
#key-feature-body-wrap .rgt-panel .link-section{padding: 0;margin: 0 0 20px;font-size: 12px;color: #404042;line-height: 18px;}
#key-feature-body-wrap .rgt-panel .link-section ul{width: 100%;display: inline-block;padding: 0;margin: 0;list-style: none;}
#key-feature-body-wrap .rgt-panel .link-section ul li{border-bottom: 1px solid #eaeaea;padding: 0 0 6px;margin: 0 0 15px;}
#key-feature-body-wrap .rgt-panel .link-section ul li h2{font-size: 15px;font-weight: 600;line-height: 18px; padding: 0;margin: 0 0 6px;}
#key-feature-body-wrap .rgt-panel .link-section ul li span{color: #f6406c;}
#key-feature-body-wrap .rgt-panel .link-section ul li:before{content: '';padding: 0;margin: 0;}

#key-feature-body-wrap .rgt-panel .agent-features-section{padding: 0;margin: 15px 0 45px;}
#key-feature-body-wrap .rgt-panel .agent-features-section h2{font-size: 12px;font-weight: 600;color: #48484a;padding: 0 0 0 15px;margin: 0 0 6px;}
#key-feature-body-wrap .rgt-panel .agent-features-section p{font-size: 12px;color: #a3a3a3;padding: 6px 0 6px 15px;margin: 0;border-left: 1px solid #f1f1f1;line-height: 18px;}

#key-feature-body-wrap .rgt-panel .support-section{background-color: #17434a;border-radius: 6px;padding: 20px;text-align: center;font-size: 13px;font-weight: 700;color: #fff;line-height: 18px;}
#key-feature-body-wrap .rgt-panel .support-section a{color: #fff;text-decoration: none;}
#key-feature-body-wrap .rgt-panel .support-section a:hover{color: #f0426d;text-decoration: none;}
#key-feature-body-wrap .rgt-panel .support-section p{margin: 0;}
#key-feature-body-wrap .rgt-panel .support-section img{display: inline-block;margin-bottom: 12px;}

.curve-txt{font-size: 14px; color: #666666;font-style: italic;}

/* =============== KEY FEATURE PAGE CSS END ==================== */

.btn-row{display: block;padding: 0;margin:15px 0 32px;}
.top-pad100{margin-top: 100px;}

/* =============== FOOTER CSS START ================ */

footer{background-color: #4b4b4d;padding: 25px 0 100px;color: #fff;font-size: 14px;margin:0;}
footer h3{font-size: 15px;font-weight: 600;color: #fff;padding: 0;margin:25px 0;}
footer ul{width: 100%;display: inline-block;padding: 0;margin:0;list-style: none;}
footer ul li{font-size: 14px;color: #ededed;padding: 0;margin:0 0 6px;}
footer ul li a{color: #ededed;text-decoration: none;}
footer ul li a:hover{color: #fff;text-decoration: none;}
footer ul.social-icons{padding: 0;margin:0;width: 100%;display: inline-block;}
footer ul.social-icons li{width: 35px;height: 35px;background-color: transparent;border:1px solid #939196;padding: 0;margin: 0 6px 0 0; line-height: 32px;text-align: center;font-size: 16px;color: #fff;border-radius: 50%;display: inline-block;cursor: pointer;}
footer ul.social-icons li:hover{background-color: #939196;color: #333;transition: all .4s ease-in-out;-webkit-animation-delay: 2s;animation-delay: 2s;}
footer ul.social-icons li:hover i{color: #333;}

/* =============== FOOTER CSS END ================ */

/* =============== REGISTRATION PAGE CSS START ================ */

.login_modal.modal-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: url(../img/bg_modal.jpg) no-repeat right top;
    background-size: 280px 493px;
    background-color: #fff;
}
.modal-header {
    border-bottom: 0;
    margin: 15px 15px 0;
}
.modal-header .close {
    margin-top: -20px;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    opacity: 1;
}
span.black:nth-child(1) {
    margin-top: 15px;
    margin-bottom: 15px;
}
.modal-text.close-text {
    font-size: 16px;
    color: #777;
    position: relative;
    font-weight: 400;
    top: -8px;
}

.btn-modal-close>.pink {
    font-size: 38px;
    font-weight: 300;
    vertical-align: bottom;
    color: #f33062;
}

.left-align {
    text-align: left !important;
}

.black {
    color: #4b474d;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-family: 'Montserrat',sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.modal-header p.descr {
    margin-top: 25px;
    color: #777;
}
.modal-body {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    padding: 15px;
}
.black {
    color: #4b474d;
}
#free_registr_form .free-register-box {
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.display-in {
    display: inline-block;
}

.modal-body .h5, .modal-body h5 {
	font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.asteric-red {
    color: red;
    position: relative;
    top: 1px;
    left: 2px;
}
#free_registr_form .charactertxt {
    margin-top: -8px;
    position: relative;
    height: 69px;
}
#free_registr_form .charactertxt .bot-txt {
    position: absolute;
    bottom: 0;
    left: 0;
}

.modal-footer {
    border-top: 0;
    text-align: left;
    margin: 0 0 30px 15px;
    padding: 0 15px 15px;
    text-align: right;
}
.btn-pink {
    color: #FFF !important;
    background-color: #f33062 !important;
    border: 0 !important;
    min-width: 200px;
    font-size: 14px;
    min-width: 125px;
    -webkit-appearance: button;
    cursor: pointer;
}

#modal-cover #demo_site_msg.modal .modal__content{padding: 40px 40px;}
#modal-cover #demo_site_msg.modal .modal__close{
	position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #fff;
    background: rgba(0,0,0,0.5);
    padding: 6px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 18px;
	}
#modal-cover #demo_site_msg.modal .modal__close i.icon-close{font-size: 15px;}
#modal-cover #demo_site_msg.modal h2 {
	font-size: 22px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #ef1865;
}

/* =============== REGISTRATION PAGE CSS END ================ */
/* =============== CONTACT US CSS START ================ */

.contact-wrap{padding: 0;margin: 0 0 50px 0;}
.contact-wrap h2 {
    font-size: 42px;
    line-height: 50px;
    font-weight: bold;
    color: #343434;
    position: relative;
    padding: 0 0 15px;
    margin: 0 0 25px;
}
.contact-wrap h2:after {
    content: "";
    width: 90px;
    height: 2px;
    display: block;
    background-color: #ef1865;
    position: absolute;
    bottom: 0;
    left: 0;
}
.contact-wrap p{padding: 0;margin: 20px 0;}
.contact-wrap .contact-list{padding: 0;margin: 25px 0 0;}
.contact-wrap .contact-list span{font-size: 16px;font-weight: 700;color: #333;line-height: 35px;}
.contact-wrap .contact-list a{font-size: 16px;color: #e70094;text-decoration: none;line-height: 35px;}
.contact-wrap .contact-list a:hover{color: #333;text-decoration: none;}
.contact-wrap .gray-box{background-color: #f6f6f6;border-radius: 6px;padding: 20px;min-height: auto;}
.contact-wrap .gray-box label{font-size: 16px;font-weight: 600;color: #333;margin-bottom: 6px;}
.contact-wrap .gray-box input {
    width: 100%;
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    -moz-box-shadow: rgba(0,0,0,.158) 0 0 5px inset;
    -webkit-box-shadow: rgba(0,0,0,.158) 0 0 5px inset;
    box-shadow: rgba(0,0,0,.158) 0 0 5px inset;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 12px;
    color: #999;
    line-height: 20px;
    background-color: #fff;
    font-size: 16px;
}
.contact-wrap .gray-box textarea {
    width: 100%;
    height: 150px;
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    -moz-box-shadow: rgba(0,0,0,.158) 0 0 5px inset;
    -webkit-box-shadow: rgba(0,0,0,.158) 0 0 5px inset;
    box-shadow: rgba(0,0,0,.158) 0 0 5px inset;
    padding: 8px;
    margin-bottom: 25px;
    font-size: 16px;
    color: #999;
    line-height: 20px;
    background-color: #fff;
    resize: none;
}
.pink-button {
    border: 1px solid #e70094;
    background-color: #e70094;
    padding: 15px 50px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
}
.pink-button:hover {
    border: 1px solid #e70094;
    background-color: transparent;
    color: #e70094;
    text-decoration: none;
}

/* =============== CONTACT US CSS END ================ */

.paymentMethodRequest{padding: 0;margin: 0;text-align: left;}
.paymentMethodRequest h3{font-size: 15px; font-weight: 700;}
.paymentMethodRequest .modeOfPayemntGroup ul.radio_list{padding: 0; margin: 25px 0;list-style: none;}
.paymentMethodRequest .modeOfPayemntGroup ul.radio_list li{
    display: inline-block;
    width: auto;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    margin: 0 20px 5px 0;
	}
.paymentMethodRequest ul.radio_list .control {
    text-align: left;
    line-height: 24px;
    position: relative;
    font: 400 14px/normal 'Open Sans',sans-serif;
    padding-left: 15px;
    cursor: pointer;
}
.paymentMethodRequest ul.radio_list label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.paymentMethodRequest ul.radio_list .control input {
    position: relative;
    z-index: -1;
    opacity: 0;
}
.paymentMethodRequest ul.radio_list input {    
    height: 20px;
    margin: 0;
    float: left;
    border: 0;
    padding: 0;
}
.paymentMethodRequest .control_indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background: #fff;
    border: 2px solid #8e8e8e;
    border-radius: 50%;
}
.paymentMethodRequest .control input:checked~.control_indicator {
    /*background: #e70094;*/
    border: 2px solid #e70094;
}
.paymentMethodRequest .control_indicator:after {
    left: 3px;
    top: 3px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #e70094;
    content: '';
    position: absolute;
    display: none;
}
.paymentMethodRequest .control input:checked~.control_indicator:after {
    display: block;
}
