html,
body {
    -webkit-overflow-scrolling: touch !important;
    overflow: auto !important;
    height: 100% !important;
}

body {
    font-size: 18px;
}

a {
    color: #cf1a5b;
    text-decoration: none;
}

a:hover {
    transition: all .4s ease-in-out;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    color: #333;
    text-decoration: none;
}

a:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    color: #333;
    text-decoration: none;
}

.navbar-toggle .icon-bar {
    width: 32px;
    height: 3px;
    border-radius: 5px;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-toggle:focus .icon-bar,
.navbar-inverse .navbar-toggle:hover .icon-bar {
    background-color: #ed1864;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #787878;
}

.navbar-inverse .navbar-nav>li {
    margin: 30px 15px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    font-size: 16px;
}

.dropdown-menu li {
    margin: 25px 0;
}

.open>.dropdown-menu {
    display: block!important;
}

.dark-block-bg {
    background-color: #e3e3e3;
    padding: 15px 0;
    margin: 0 0 15px;
}

.gray-box {
    min-height: auto;
    margin: 20px 0;
    padding: 25px;
}

.green-txt {
    font-size: 16px;
}

header.carousel .carousel-caption {
    font-size: 18px;
    text-align: center;
}

.section-dashboard .wh-box-contain {
    font-size: 18px;
}

.section-client-portal {
    font-size: 18px;
}

.section-dashboard {
    font-size: 18px;
}

.section-control-panel {
    font-size: 18px;
}

.section-key-branded ul li {
    font-size: 18px;
}

.gray-box {
    min-height: auto;
}

.gray-box h3 {
    font-size: 20px;
    line-height: 26px;
}

.gray-box ul {
    min-height: auto;
}

.gray-box ul li {
    font-size: 18px;
}

.section-testimonial .comment-wrap {
    font-size: 18px;
    line-height: 25px;
}

footer ul li {
    font-size: 17px;
}

.section-Commisions {
    padding: 30px 0 15px;
}

.pricing-option-panel {
    padding-top: 0;
}

.pricing-section {
    padding: 0 0 30px;
}

.section-Commisions .commisions-list-wrap {
    margin: 5px 0;
}

.pricing-block {
    margin-bottom: 20px;
    padding: 30px 20px;
}

#global-partners-body-wrap {
    margin-top: 14vh;
    min-height: auto;
}

#global-partners-body-wrap .global-partners {
    background: none;
    padding: 0;
}

#global-partners-body-wrap .left-content-panel h2 {
    font-size: 30px;
    padding: 0 15px;
}

#global-partners-body-wrap .left-content-panel p {
    margin-top: 20px;
}

.inner-page-banner-press {
    min-height: 45vh;
    padding-top: 5vh;
}

.press-section {
    margin: 30px 0;
}

.press-section .press-title {
    height: auto;
}

.press-section .row-pad {
    margin-bottom: 40px;
}

.press-section .press-title {
    font-size: 16px;
    line-height: 24px;
}

.press-section .press-link {
    font-size: 16px;
}

.left-content-panel h2 {
    line-height: 30px;
    font-size: 25px;
}

.left-content-panel h2:after {
    display: none;
}

.section-agent-dashboard {
    line-height: 20px;
    font-size: 18px;
}

.left-content-panel ul li {
    font-size: 18px;
    margin: 15px 0;
}

.section-client-portal {
    padding: 70px 15px 35px;
}

.section-core-pieces {
    margin: 0;
}

.section-dashboard {
    margin: 35px 0 0;
}

.section-dashboard .wh-box-contain p {
    margin-bottom: 18px;
}

.top-pad100 {
    margin-top: 30px;
}

.collaborate-solution {
    padding: 0 0 40px;
}

.collaborate-solution .left-content-panel h2:after {
    content: "";
    width: 90px;
    height: 2px;
    display: block;
    background-color: #ef1865;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sample-clients-panel {
    text-align: center;
}

.sample-clients-panel h3 {
    padding: 0;
}

.sample-logo-panel img {
    margin-bottom: 0;
    text-align: center;
    display: inline-block;
}

.navbar-nav>li>.dropdown-menu:before,
.navbar-nav>li>.dropdown-menu:after {
    display: none;
}

.navbar-nav .dropdown-menu-open {
    padding: 0;
    margin: 0 0 0 30px;
    list-style: none;
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-nav .dropdown-menu-open li {
    margin: 25px 0;
    font-size: 16px;
}

.navbar-inverse .navbar-nav .dropdown-menu-open>li>a:focus,
.navbar-nav .dropdown-menu-open li a:hover {
    text-decoration: none;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    padding: inherit;
    background-color: #fff;
    border-color: #ed1864;
    width: 100%;
    margin: 0;
    box-shadow: 0px 0px 35px #ccc;
}

.pricing-text-section h4 {
    font-weight: 400;
}

::-webkit-scrollbar {
    display: none;
}


/* =============== MODAL PAGE CSS START ================ */

.modal-open #modal-cover {
    display: block;
}

#modal-cover {
    overflow: auto;
    display: none;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(65, 131, 139, 0.7);
}

#modal-cover .modal {
    width: 93%;
    max-width: 100%;
    margin: 40px auto;
    background: #fff;
    min-height: 200px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    position: relative;
    display: block;
    font-size: 15px;
}

#modal-cover .modal .modal__content,
#modal-cover .modal .special-modal {
    display: inline-block;
    width: 100%;
    padding: 30px 20px;
}

#modal-cover .modal .modal__close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #f6416c;
}

#modal-cover .modal .modal__close i.icon-close {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

#modal-cover .modal h2 {
    font-weight: 700;
    margin-top: 0;
}

#modal-cover p {
    margin-bottom: 10px;
    line-height: 18px;
}

#modal-cover .form-holder {
    padding-top: 0;
    background: #fff;
    padding: 0 0 50px;
    position: relative;
    top: 0;
}

.gform_wrapper {
    overflow: inherit;
    margin: 1em 0;
    max-width: 100% !important;
}

.gform_wrapper form {
    text-align: left;
}

.gform_body {
    margin-left: -15px;
    margin-right: -15px;
}

.gform_wrapper ul li:after,
.gform_wrapper ul li:before,
.gform_wrapper ul.gform_fields {
    padding: 0;
    margin: 0;
    overflow: visible;
}

.gform_wrapper ul {
    margin: 0!important;
    list-style-type: none;
    text-indent: 0;
}

.gform_wrapper ul li.gfield.columns,
.form-holder .gform_wrapper li.columns {
    clear: none;
    display: inline-block;
}

.gform_wrapper ul li.gfield {
    clear: both;
}

.gform_wrapper ul li.gfield {
    padding-left: 15px;
    padding-right: 15px;
}

.form-holder .gform_wrapper li {
    margin-top: 0;
    margin-bottom: 0;
}

.gform_wrapper form li,
.gform_wrapper li {
    margin-left: 0!important;
    list-style: none!important;
    overflow: visible;
}

.medium-6 {
    width: 100%;
}

.gform_wrapper .top_label .gfield_label {
    margin: .625em 0 .5em;
    font-weight: 700;
    display: -moz-inline-stack;
    display: inline-block;
    line-height: 1.3;
    clear: both;
}

.form-holder .gform_wrapper label {
    display: block;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.8;
    color: #0a0a0a;
}

.form-holder .gform_wrapper .gfield_required {
    position: relative;
    top: 3px;
    color: #f6416c;
    margin-left: .25em;
}

.gform_wrapper label.gfield_label+div.ginput_container {
    margin-top: .375em;
}

.form-holder .gform_wrapper input[type='text'],
.form-holder .gform_wrapper select {
    font-weight: bold;
    font-size: 14px !important;
    padding: 10px 10px !important;
    border-radius: 4px;
    width: 100% !important;
    height: 35px;
    border: 1px solid #cacaca;
}

.gform_wrapper input[type=text] {
    font-family: inherit;
    padding: .313em 0;
    letter-spacing: normal;
    text-indent: .25em;
}

.modal-btn-submit {
    text-align: center;
    padding-top: !important;
    padding: 40px 0 1em .625em;
    margin: 1em 0 0;
    clear: both;
}

.gform_wrapper .btn-pink,
.gform_wrapper input[type='submit'] {
    color: #FFFFFF !important;
    background-color: #F33062;
    border: none !important;
    font-weight: 600;
    padding: 11px 12px;
    -webkit-transition: 250ms;
    transition: 250ms;
    border-radius: 4px;
}

.gform_wrapper input[type='submit']:active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.gform_wrapper .btn-pink:hover,
.gform_wrapper input[type='submit']:hover {
    background-color: #fc8081;
}

.gform_wrapper textarea.large {
    height: 225px;
    width: 100%;
}

.form-holder .gform_wrapper textarea {
    padding: 15px 10px !important;
    border-radius: 4px;
    resize: none;
    border-color: #cacaca;
}


/* =============== MODAL PAGE CSS END ================ */


/* =============== MEDIA CSS START ================ */

@media (min-width: 1400px) {
    .global-partners {
        min-height: 900px;
    }
}

@media (max-width: 1140px) {
    .container>.navbar-header {
        width: 20%;
        display: inline-block;
    }
    .navbar-inverse .navbar-collapse {
        width: 100%;
    }
    .navbar-brand>img {
        width: 100%;
    }
    header.carousel .carousel-caption {
        top: 180px;
        right: 10%;
        left: 10%;
    }
    header.carousel .carousel-caption ul {
        margin: 20px 0 0;
    }
    header.carousel .carousel-caption ul li {
        width: calc(95% / 2);
        margin: 12px 5px;
    }
    .section-key-branded p {
        padding: 0 12%;
    }
    .section-key-branded ul li {
        width: 100%;
        margin: 20px 0;
    }
    .section-core-pieces ul li:after {
        width: 15%;
        right: -41px;
    }
    .section-core-pieces ul li:nth-child(2):after {
        right: -20px;
    }
    .section-client-portal h2 {
        font-size: 25px;
        font-weight: 700;
        color: #333;
        line-height: 30px;
        padding: 0;
        margin: 0 0 35px;
    }
    .section-dashboard .wh-box-contain {
        padding: 35px 0 90px 0;
    }
    .section-control-panel .gray-box-contain {
        padding: 45px 0;
    }
    .gray-box {
        padding: 30px;
        min-height: 690px;
    }
    .gray-box h3 {
        min-height: 60px;
    }
    .gray-box ul {
        min-height: 410px;
    }
    .btn-details {
        padding: 8px 20px;
    }
}

@media(max-width:990px) {
    .left-content-panel {
        padding-bottom: 30px;
    }
    .pricing-block {
        margin-bottom: 20px;
    }
    .gray-box {
        min-height: auto;
    }
    .gray-box h3 {
        min-height: auto;
    }
    .gray-box ul {
        min-height: auto;
    }
}

@media (max-width: 767px) {
    header.carousel {
        height: 345px;
    }
    .sign-in-link {
        display: block;
    }
    #inner-body-wrap {
        margin-top: 115px;
    }
    header.carousel .carousel-inner {
        height: 300px;
    }
    .container>.navbar-header {
        width: 35%;
    }
    .navbar-brand {
        padding: 15px;
        display: inline-block;
    }
    .navbar-toggle {
        margin-top: 10px;
    }
    .top-nav {
        display: none;
    }
    .navbar-inverse {
        position: absolute;
        background: #fff;
    }
    .navbar-inverse .navbar-toggle {
        border-color: transparent;
        background-color: transparent;
        position: absolute;
        right: 0;
    }
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        padding: inherit;
        background-color: #fff;
        border-color: #ed1864;
        width: 100%;
        margin: 0;
        box-shadow: 0px 0px 35px #ccc;
    }
    .navbar-inverse .navbar-nav>.open>a,
    .navbar-inverse .navbar-nav>.open>a:focus,
    .navbar-inverse .navbar-nav>.open>a:hover {
        color: #444343;
    }
    .navbar-inverse .navbar-nav>li>a:hover,
    .navbar-inverse .navbar-nav>li>a:focus {
        color: #444343;
    }
    .navbar-inverse .navbar-nav .dropdown-menu-open>li>a {
        display: inline;
        white-space: normal;
        padding: 0;
        font-weight: 500;
        color: #444343;
    }
    .navbar-inverse .navbar-nav .dropdown-menu-open>li>a:focus,
    .navbar-inverse .navbar-nav .dropdown-menu-open>li>a:hover {
        color: #444343;
    }
    header.carousel .carousel-caption {
        top: 60px;
        padding: 50px 15px 0 15px;
        left: 0;
        right: 0;
        font-size: 16px;
        text-align: center;
        line-height: 25px;
    }
    .section-caption {
        padding: 60px 0;
        font-size: 25px;
        line-height: 25px;
    }
    header.carousel .carousel-caption h2 {
        font-size: 25px;
        text-align: center;
        line-height: 30px;
        margin: 0 0 20px;
    }
    .section-dashboard .wh-box-contain {
        padding: 10px 0px;
        text-align: center;
    }
    .section-client-portal h2 {
        font-size: 25px;
        font-weight: 700;
        color: #333;
        line-height: 30px;
        padding: 0;
        margin: 0 0 35px;
    }
    .section-control-panel .gray-box-contain {
        padding: 35px 0;
        text-align: center;
    }
    .section-control-panel .gray-box-contain h3 {
        font-size: 20px;
    }
    .section-dashboard .wh-box-contain h3 {
        font-size: 20px;
    }
    .section-dashboard .wh-box-contain h3:after {
        width: 25%;
        right: 32%;
    }
    .section-control-panel .gray-box-contain h3:before {
        width: 25%;
        left: 40%;
    }
    .section-key-branded {
        margin: 40px 0 0;
    }
    .section-key-branded h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .section-key-branded h2:after {
        width: 25%;
        left: 38%;
    }
    .section-key-branded p {
        padding: 0;
    }
    .section-key-branded ul {
        padding: 0 20px;
        margin: 0;
    }
    .section-key-branded ul li {
        width: 100%;
        margin: 0 0 30px;
        padding: 0;
    }
    .section-key-branded img {
        margin-left: 0px;
    }
    .section-additional-product {
        padding: 35px 0 15px;
    }
    .section-additional-product h2 {
        font-size: 25px;
        line-height: 30px;
        margin: 0 0 10px;
    }
    .section-testimonial h2 {
        font-size: 25px;
        line-height: 32px;
    }
    .section-testimonial .carousel-inner .item h3 {
        text-align: center;
    }
    .section-testimonial .row-fluid [class*="span"] {
        width: 100%;
        margin-bottom: 25px;
    }
    .section-testimonial .row-fluid [class*="span"] p {
        text-align: center;
    }
    .section-testimonial .comment-wrap p {
        text-align: left!important;
    }
    .gray-box h3 {
        min-height: 15px;
    }
    footer {
        padding: 25px 20px 50px;
    }
    .section-Commisions .commisions-list-wrap .sub-wh-box h2 {
        text-align: left: ;
        margin: 0;
    }
    .global-partners {
        min-height: auto;
    }
    .section-Commisions .commisions-list-wrap .sub-wh-box ul {
        margin: 20px 0 0 20px;
    }
    .section-core-pieces h2 {
        font-size: 28px;
        margin-bottom: 20px;
        line-height: 30px;
    }
    .section-client-portal .gray-box-contain {
        padding: 20px 0 0 0;
        text-align: center;
    }
    .section-client-portal .gray-box-contain h3 {
        font-size: 20px;
        text-align: center;
    }
    .section-client-portal .gray-box-contain h3:before {
        width: 25%;
        left: 36%;
    }
    .btn-details {
        padding: 8px 52px;
    }
    .gray-box .btn-details {
        width: auto;
    }
    .btn-details-sm {
        display: inline-block!important;
    }
    /*.section-agent-dashboard{margin: 160px 0 0 0;}*/
    .section-agent-dashboard {
        margin: 0;
    }
    .section-Commisions .commisions-list-wrap .sub-wh-box {
        margin: 15px 0;
        width: 100%;
    }
}

@media(max-width:540px) {
    .container>.navbar-header {
        width: 60%;
    }
    .navbar-brand>img {
        display: inline-block;
    }
    header.carousel .carousel-inner {
        height: 370px;
    }
    .press-content-row {
        padding: 20px 10px;
    }
    .gray-box {
        min-height: auto;
    }
    .gray-box ul {
        min-height: auto;
    }
    .modal_body {
        height: 77vh;
        overflow: auto;
        overflow-x: hidden;
    }
    .modal__close {
        padding: 10px;
        z-index: 99;
        margin-top: -14px;
        margin-right: -16px;
    }
}


/* =============== MEDIA CSS END ================ */